<div id="contents">
    <div id="cont_title">
      <h2>GMS - 게임센터</h2>
      <span>친구들과 함께 다양한 게임을 즐겨보세요!</span>
    </div>
    <div id="cont_login">
      <form action="/login" class="login_form" method="POST">
        <input type="text" name="" placeholder="ID" class="login_id">
        <input type="password" name="" placeholder="password" class="login_pwd">
      </form>
      <button type="button" name="button" class="login_btn">로그인</button>
      <div class="login_info">
        <div class="find_id">아이디 찾기</div>
        <div class="find_pwd">비밀번호 찾기</div>
        <div class="register">회원가입</div>
      </div>
    </div>
</div>