<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./css/main.css">
  <link rel="stylesheet" href="./css/fonts.css">
  <link rel="stylesheet" href="./css/reset.css">
  <link rel="stylesheet" href="./css/login.css">
  <style>
    #cont_login {width: 440px; margin: 0 auto; height: 400px;}
    #cont_login .login_form {display: block; width: 360px; float: left;}
    #cont_login .login_form > input:focus {outline: none;}
    #cont_login .login_form .login_id {width: 350px; height: 50px; font-size: 25px; margin-bottom: 20px;}
    #cont_login .login_form .login_pwd {width: 350px; height: 50px; font-size: 25px;}
    #cont_login .login_btn {float: left; height: 128px; width: 80px;border: 1px inset #000; font-size: 18px;}
    #cont_login .login_info {display: flex; float: left; width: 100%; justify-content: center; margin-top: 30px;}
    #cont_login .login_info > div {float: left; padding-right: 12px; margin-right: 13px; cursor: pointer; border-right: 1px solid #000;}
    #cont_login .login_info > div:hover {text-decoration: underline;}
    #cont_login .login_info > div:last-child {margin-right: 0; border-right: none;}
  </style>

  <title>GMS</title>
</head>
<body>
  <div id="wrap">
    <%-include('../header') %>
    <div id="contents">
      <div id="cont_title">
        <h2>GMS - 게임센터</h2>
        <span>친구들과 함께 다양한 게임을 즐겨보세요!</span>
      </div>
      <div id="cont_login">
        <form action="/login" class="login_form" method="POST">
          <input type="text" name="" placeholder="ID" class="login_id">
          <input type="password" name="" placeholder="password" class="login_pwd">
        </form>
        <button type="button" name="button" class="login_btn">로그인</button>
        <div class="login_info">
          <div class="find_id">아이디 찾기</div>
          <div class="find_pwd">비밀번호 찾기</div>
          <div class="register">회원가입</div>
        </div>
      </div>
    </div>
    <!-- //컨텐츠 -->
  </div>
  <%-include('../footer') %>
  <!-- //푸터 -->
  <%-include('../menu_side') %>
  <!-- //사이드 메뉴 바 구현 -->
  <script src="../js/main.js"></script>
  <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
  <script>
    $('.login_form').keypress((event) => {
      if(event.which == 13) {
        submitPost()
      }
    })
    $('.login_btn').click(() => {
      submitPost()
    });

    function submitPost() {
      let id = $('.login_id').val()
      let pwd = $('.login_pwd').val()
        //Ajax POST Method TEST
        $.ajax({
          url: '/login',
            dataType: 'json',
            type: 'POST',
            data: {id:id, pwd:pwd},
            success: (result) => {
              if (result) {
                if(result.res === 'success') {
                  alert('로그인에 성공하였습니다.')
                  location.href ='/';
                } else if(result.res === 'fault') {
                  alert('로그인에 실패하였습니다.')
                }
              } 
            },
            error: (xhr, status) => {
              alert(xhr +" : "+status)
            }
          });
    }
    
  </script>
</body>
</html>
