<div class="game_info_box">
    <div class="game_room">
        <input type="text" class="game_channel_text" placeholder="채널을 입력하세요">
        <input type="submit" class="game_channel_submit">
    </div>
</div>
