<%-include('./minesweeper_css') %>
<!-- 지뢰찾기 css -->
<div id="contents">
    <div class="game_ranking"></div>
    <div class="game_box">
        <div class="game_play_box">
        </div>
        <div class="game_info_box">
            <button class="easy">쉬움</button>
            <button class="normal">보통</button>
            <button class="hard">어려움</button>
        </div>
    </div>
    <div class="game_mypage"></div>
</div>
<!-- 지뢰찾기 html -->
<%-include('./minesweeper_js') %>
<!-- 지뢰찾기 스크립트 -->
