<div class="game_info_box">
    <button class="easy">쉬움</button>
    <button class="normal">보통</button>
    <button class="hard">어려움</button>
    <div class="info">
        <div class="mine_count">0</div>
        <div class="play_time">00:00</div>
    </div>
</div>
