<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./css/main.css">
  <link rel="stylesheet" href="./css/fonts.css">
  <link rel="stylesheet" href="./css/reset.css">

  <title>GMS</title>
</head>
<body>
  <div id="wrap">
    <%-include('../header') %>
    <!-- //헤더 -->
    <div id="contents">
      <div id="cont_title">
        <h2>GMS - 게임센터</h2>
        <span>친구들과 함께 다양한 게임을 즐겨보세요!</span>
      </div>
      <div id="cont_box">
        <div class="box">IMG</div>
        <div class="box">IMG</div>
        <div class="box">IMG</div>
        <div class="box">IMG</div>
        <div class="box">IMG</div>
        <div class="box">IMG</div>
        <div class="box">IMG</div>
        <div class="box">IMG</div>
        <div class="box">IMG</div>
      </div>
      <div id="cont_more">VIEW MORE</div>
    </div>
    <!-- //컨텐츠 -->
  </div>
  <%-include('../footer') %>
  <!-- //푸터 -->

  <%-include('../menu_side') %>
  <!-- //사이드 메뉴 바 구현 -->
  <script src="../js/main.js"></script>
  <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
</body>
</html>
